<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Diary</title>
  <link rel="stylesheet" href="css/style.css">
  
</head>

<!-- SVG icons -->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" enable-background="new 0 0 100 100" xml:space="preserve" style="display: none;">
    <defs>
                <symbol id="icon-forward3" viewBox="0 0 32 32">
                        <title>forward3</title>
                        <path d="M16 27v-10l-10 10v-22l10 10v-10l11 11z"></path>
                        </symbol>
                        <symbol id="icon-backward2" viewBox="0 0 32 32">
                                        <title>backward2</title>
                                        <path d="M18 5v10l10-10v22l-10-10v10l-11-11z"></path>
                                        </symbol>


    </defs>
  </svg>

<body id="dashboard">

    <div id="Sidenav" class="sidenav">
        <span id="close">&times;</span>
        <svg class="icon icon-home2"><use xlink:href="#icon-home2"></use></svg>
        <a href="dashboard.html">Home</a>
        <a href="allnotes.html">All notes</a>
        <a href="new.html">Add new</a>
        <a href="userprofile.html">My profile</a>
      </div>

  <div class="top">
        <span id="hamburger">&#9776;</span>
    <h3 class="intro">Hi, Nessa </h3>
  </div>
  <div class="grid">

        <div class="note">
          <p class="note-text">Wakanda forever. Je suis Shuri. Dit sit Lorem ipsum...<a href="note.html">More</a></p>
          <div class="clearfix">
            <a href="editnote.html"><svg class="icon icon-new-message"><use xlink:href="#icon-new-message"></use></svg></a>
            <a href="deletenote.html"> <svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg></a>
            <span id="date">Now</span>
          </div>
        </div>
        <div class="note">
          <p class="note-text">Lorem ipsum dit amet. Dit sit Lorem ipsum amet...<a href="note.html">More</a></p>
          <div class="clearfix">
            <a href="editnote.html"><svg class="icon icon-new-message"><use xlink:href="#icon-new-message"></use></svg></a>
            <a href="deletenote.html"><svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg></a>
            <span id="date">Yesterday</span>
          </div>
        </div>
        <div class="note">
          <p class="note-text">Lorem ipsum dit amet. Dit sit Lorem ipsum amet...<a href="note.html">More</a></p>
          <div class="clearfix">
            <a href="editnote.html"><svg class="icon icon-new-message"><use xlink:href="#icon-new-message"></use></svg></a>
            <a href="deletenote.html"><svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg></a>
            <span id="date">Tueday, June 14</span>
          </div>
        </div>
        <div class="note">
          <p class="note-text">Lorem ipsum dit amet. Dit sit Lorem ipsum amet...<a href="note.html">More</a></p>
          <div class="clearfix">
    
            <a href="editnote.html"><svg class="icon icon-new-message"><use xlink:href="#icon-new-message"></use></svg></a>
            <a href="deletenote.html"><svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg></a>
            <span id="date">Monday, June 9</span>
          </div>
        </div>
        <div class="note">
          <p class="note-text">Lorem ipsum dit amet. Dit sit Lorem ipsum amet...<a href="note.html">More</a></p>
          <div class="clearfix">
            <a href="editnote.html"><svg class="icon icon-new-message"><use xlink:href="#icon-new-message"></use></svg></a>
            <a href="deletenote.html"><svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg></a>
            <span id="date">Friday, June 8</span>
          </div>
        </div>
        <div class="note">
          <p class="note-text">Lorem ipsum dit amet. Dit sit Lorem ipsum amet...<a href="note.html">More</a></p>
          <div class="clearfix">
            <a href="editnote.html"><svg class="icon icon-new-message"><use xlink:href="#icon-new-message"></use></svg></a>
            <a href="deletenote.html"><svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg></a>
            <span id="date">Tueday, June 4</span>
          </div>
        </div>
        <div class="note">
          <p class="note-text">Lorem ipsum dit amet. Dit sit Lorem ipsum amet...<a href="note.html">More</a></p>
          <div class="clearfix">
            <a href="editnote.html"><svg class="icon icon-new-message"><use xlink:href="#icon-new-message"></use></svg></a>
            <a href="deletenote.html"><svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg></a>
            <span id="date">April 4</span>
          </div>
        </div>
    
        <div class="note">
          <p class="note-text">Lorem ipsum dit amet. Dit sit Lorem ipsum amet...<a href="note.html">More</a></p>
          <div class="clearfix">
            <a href="editnote.html"><svg class="icon icon-new-message"><use xlink:href="#icon-new-message"></use></svg></a>
            <a href="deletenote.html"><svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg></a>
            <span id="date">April 8</span>
          </div>
        </div>
    
      </div>
      </div>
      <div class="footer-icon">
        <center>
          <br>
          <svg class="icon icon-backward2"><use xlink:href="#icon-backward2"></use></svg>
          <svg class="icon icon-forward3"><use xlink:href="#icon-forward3"></use></svg>
        </center>
      </div>
      </div>


  <script src="js/sidebar.js"></script>
</body>

</html>
