<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Diary</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body id="main">
  <div class="cover flex">

    <div class="center">
      <h1>My Diary</h1>
      <p>A safe space for your thoughts</p>
      <button class="btn" id="sign-up">Sign up</button>
      <button class="btn" id="sign-in">Sign in</button>
    </div>
  </div>
  </div>
  <script src="js/script.js"></script>

</body>

</html>