<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container flex">
        <div class="signup">
        
                <form>
                
                    
                    <label><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>
                    <label><b>Username</b></label>
                    <input type="text" placeholder="Pick a username" name="username" required>
               
                    <label><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    <label><b>Confirm Password</b></label>
                    <input type="password" placeholder="Retype Password" name="repassword" required>
                
                      <center><button class="btn center">Sign Up</button>
                        <button  class="btn center">Cancel</button>
                      </center>
                    </form>
                    </div>
                  </div>
               
              </div>
</body>
</html>