
  @import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
  @import url("https://fonts.googleapis.com/css?family=Courgette");
  
  body {
    font-family: "Open Sans Condensed", sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
   
    
  }
  
  .main{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../images/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    overflow: hidden;
  }
  
  nav{
    background-color:#00BFFF;
  }
  #cover{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    width:100%;
    height:500px;
  
  }
  .dashboard-cover{
    position: relative;
    top:20px;
  }
  .dashboard-text,
  a {
    color: black;
  }
  .center{
    text-align: center;
  }
  
  a {
    text-decoration: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 15px;
  }
  
  h1 {
    font-size: 60px;
    color: white;
    font-weight: 800;
  }
  #hamburger{
    font-size:30px;
    cursor:pointer;
    position: relative;
    top:3px;
    left:10px;
  }
  #close{
    color:white;
    float:right;
    position: relative;
    right:20px;
    font-size:40px;
    cursor: pointer;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:black;
    overflow-x: hidden;
    transition: 0.5s;
    display:block;
  }
  .icon-home2{
    color:white;
    font-size:50px;
  }
  .sidenav a{
    color: white;
    display:block;
    position: relative;
    left:50px;
    top:70px;
    margin:10px;
  }
  
  .sign-in {
    left: 350px;
    position: relative;
    bottom: 300px;
  }
  
  h4 {
    text-align: right;
  }
  
  .cover {
    height: 100vh;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    max-width: 900px;
    padding: 10px 5px 0 0;
    margin: 60px;
  }
  
  .center {
    text-align: center;
  }
  
  p {
    position: relative;
    bottom: 40px;
    font-size: 25px;
    color: white ;
  }
  
  .note-text {
    color: black !important;
    font-size: 20px;
    position: relative;
    top: 20px;
  }
  
  .clearfix {
    position: relative;
    
  }
  .error{
    color:red;
    list-style-type: none;
    font-size:10px;
  }
  
  .btn {
    display: inline-block;
    border-radius: 5px;
    background-color: #00BFFF;
    color: #fff;
    box-sizing: inherit;
    font-family: "Roboto", sans-serif;
    font-weight: 250px;
    font-size: 20px;
    cursor: pointer;
    width: 90px;
    height: 40px;
    margin:2px;
    position: relative;
    top: 10px;
  }
  .svg{
    display: block;
    float: right;
  }
  
  
  .btn:hover {
    background-color: black;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid black;
    box-sizing: border-box;
  }
  input[type="submit"]{
    width:100px;
    height:40px;
    border-radius:5px;
    background-color: #00BFFF;
    color: #fff;
    box-sizing: inherit;
    font-family: "Roboto", sans-serif;
    font-weight: 200px;
    font-size: 15px;
    position: relative;
    display: inline;
  }
  
  .form{
   position: relative;
   top:150px;
  }
  .save{
    position: relative;
    float:right;
    right:10px;
  }
  @media screen and (min-width: 768px) {
    .save{
      position: relative;
      right:90px;
      
    }
  }
  @media screen and (min-width: 1024px){
    .save{
      right:250px;
    }
  }
  .top{
    background-color: #00BFFF;
    height:80px;
    max-width:100%;
  }
  /**
  #save,
  #update {
    display: inline-block;
    position: relative;
    top: 95px;
    right: 200px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: #00BFFF;
    color: white;
  }
  **/
  #text-redirect{
    text-align: center;
    position: relative;
    top:20px;
    left:60px;
  }
  #text-redirect a{
    font-size:13px;
  }
  
  .note-area {
    position: relative;
    top: 10vh;
    left: 10vw;
  }
  
  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    border-radius: 5px;
    font-size: 20px;
    
    /**
    position: relative;
    left:150px;
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    border-radius: 5px;
    font-size: 20px;
    **/
  }
  .icon-backward2, .icon-forward3{
    cursor: pointer;
  }
  .well{
    position: relative;
    top:70px;
  }
  
  .well p{
    position: relative;
    top:10px;
    font-size:20px;
    display: inline;
    color:black;
  }
  
  .clearfix{
    position: relative;
    top:100px;
  }
  .right{
    position: relative;
    left:90px;
  }
  
  textarea:focus {
    outline: none !important;
    border: 2px solid cornflowerblue;
  }
  
  .headline {
    display: inline-block;
    margin: 10px 0 0 10px;
    color: white;
  }
  
  .intro {
    float: right;
    color: white !important;
    position: relative;
    top: -10px;
    right: 120px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 16px;
    margin-top: 15px;
  }
  
  #drop-icon {
    float: right;
    position: relative;
    right: 20px;
    top: 7px;
  }
  
  .info-block {
    margin-top: 50px;
    border: 2px solid #eee;
    box-shadow: 0 3px 3px #ccc;
    width: 200px;
    padding: 20px;
    background-color: powderblue;
  }
  .note{
    margin-top: 150px;
    border: 2px solid burlywood;
    box-shadow: 0 3px 3px #ccc;
    width: 200px;
    padding: 20px;
    background-color: white;
  }
  
  .info-block {
    width: 200px !important;
    background-color: #888;
    height: 20px;
    width: 100%;
  }
  
  .profile-text {
    font-size: 15px;
    color: black;
    text-align: center;
    margin-top: 25px;
  }
  
  .single {
    margin-top: 50px;
    border: 2px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 500px;
    background-color: powderblue;
  }
  .quote{
    display: inline;
    position: relative;
    top:300px;
    font-size: 30px;
  }
  footer {
    position: relative;
    bottom: -25px;
    color:black;
    text-align: center;
  }
  .footer-icon{
    position: relative;
    top:100px;
  }
  
  .grid {
    position: relative;
    top: 100px;
    left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .notes {
    position: relative;
    top: 180px;
    text-align: center;
  }
  .icon {
    display: inline;
    width: 15px;
    height: 15px;
    position: relative;
    margin-right: 8px;
  }
  .icon-cog,
  .icon-user,
  .icon-stats-dots {
    position: relative;
    bottom: 15px;
  }
  ul {
    list-style-type: none;
  }
  .hidden {
    display: none;
  }
  #date {
    font-size: 10px;
    color: brown;
    font-weight: 900;
    float: left;
  }
  #reminder {
    position: relative;
    margin-top: 20px;
    float: right;
  }
  @media screen and (max-width: 700px) {
    #save {
      width: 400px;
      position: relative;
      right: 30vw;
    }
    textarea {
      width: 900px;
    }
    .top {
      max-width: 100%;
    }
  }
  @media screen and (min-width: 750px) {
    body {
      margin: 50px;
    }
    textarea {
      height: 200px;
    }
    #save,
    #update {
      position: relative;
      top: 150px;
    }
  }
  @media screen and (min-width: 768px) {
    .note {
      margin-left: 20px;
    }
    .grid {
      left: 80px;
    }
    #update{
      position: relative;
      top:10px;
    }
  }
  @media screen and (min-width: 1024px){
    .signup{
      position: relative;
      left:100px;
    }
    #update{
      position: relative;
      right:90px;
      top:40px;
    }
  }